
body {
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    color: #555;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.result-container, .history-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    box-sizing: border-box;
}

.result-container {
    display: none; /* Initially hidden */
}

.result-container h2, .history-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #4CAF50;
}

.result-container p, .history-container li span {
    font-size: 1rem;
    color: #555;
    white-space: pre-wrap; /* Preserve whitespace for formatting */
}

.history-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.history-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f9;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: #555;
}

.history-container li span {
    flex-grow: 1;
    margin-right: 1rem;
}

.history-container li button {
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.27rem 0.8rem;
    cursor: pointer;
}

.history-container li button:hover {
    background-color: #4CAF50;
}

.modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        overflow: auto;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
        max-width: 400px;
        text-align: center;
        border-radius: 5px;
    }

    .modal-buttons {
        margin-top: 20px;
    }

    .modal-buttons button {
        margin: 0 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

@media (max-width: 600px) {
    .container, .result-container, .history-container {
        padding: 1rem;
        width: 100%;
    }

    body {
        padding: 0;
    }

    h1, .result-container h2, .history-container h2 {
        font-size: 1.25rem;
    }

    label, input, button, .result-container p, .history-container li span {
        font-size: 0.875rem;
    }

    .history-container li {
        flex-direction: row;
        align-items: center;
    }

    .history-container li button {
        align-self: center;
        margin-top: 0;
    }
}
